/*下拉菜单字体颜色及背景*/
.nav-link{
    color:#000 !important;
}
.nav-link:hover{
    background:#FFC107;
}
#header_coco{
    width:80%;
    background:#fff;
}
/*导航栏背景颜色*/
.bc{
    background:#FFC107;
}
.text:target{
    display:block !important ;
}
